.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-img {
  position: relative;
  width: 100%;
}

#hero-big {
  position: relative;
  display: none;
}

.hero-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.76);
  width: 100%;
}

#h1 {
  font-size: 14px;
  font-weight: 500;
  color: #2E5180;
  padding: 30px 30px 10px 30px;
}

#body1 {
  font-size: 12px;
  font-weight: 400;
  color: black;
  padding: 10px 55px 30px 55px;
}

.about-us {
  background-color: #2E5180;
  width: 100%;
  padding: 35px 0px;
}

#h2 {
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-weight: 400;
}

#body2 {
  font-size: 14px;
  font-weight: 200;
  color: #f2f2f2;
  padding: 15px 55px 15px 55px;
}

/*tablet*/
@media(min-width: 600px) {
  #hero-big {
    display: block;
  }

  .hero-img {
    display: none;
  }

  #h1 {
    font-size: 20px;
    padding: 30px 30px 10px;
  }

  #body1 {
    font-size: 16px;
    padding: 10px 240px 30px;
  }

  #h2 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 15px;
  }

  #body2 {
    font-size: 17px;
    font-weight: 100;
    padding: 25px 90px 15px 90px;
  }
}

/*desktop*/
@media(min-width: 1280px) {
  #h1 {
    font-size: 22px;
    padding: 50px 30px 10px;
  }

  #body1 {
    font-size: 20px;
    padding: 10px 400px 50px;
  }

  #h2 {
    font-size: 22px;
    font-weight: 400;
    padding: 40px 0px 40px;
  }

  #body2 {
    font-size: 20px;
    font-weight: 200;
    padding: 0px 330px 40px;
  }
}